/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
   margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


   li::marker {
margin: 0 !important;
}


.zoomButton {
    display: none;
  }

  
.mapael .mapTooltip {
  min-width: 220px;
  position: absolute;
  background-color: #474c4b;
  -moz-opacity: 0.80;
  opacity: 0.80;
  filter: alpha(opacity=80);
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  color: #fff;
  justify-content: center !important;
  display: flex;
}

/* ********** IMAGE TOOLTIP ********** */
.imagenTooltip{
  width: 100px !important;
  height: 100px !important;
  /* position: absolute; */
  transform: translateX(40%);
}
/* ********** IMAGE TOOLTIP ********** */

.mapael .map {
  position: relative;
}



  
:root {
  --modal-duration: 1.5s;
  --modal-color: #E6E8F4;
}

.responsive {
  width: 60%;
  max-height: 45vh;
  /* max-height: 70vh; */

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.plotLegend{
  padding: 15px;
}